<footer class="footer text-light" id="footer">
    <div class="container-fluid text-end d-md-flex flex-direction-column justify-content-end p-2">
      <div class="row mx-2">
        <ul>
          <li><a href="/contacto">Contact</a></li>
          <li><a href="/">Términos</a></li>
          <li><a href="/">Home</a></li>
        </ul>
        <span>Copyright 2021, Vinos Argentinos</span>
</footer>