{{>header}}

    <!-- Vinos recomendados -->
  
             <!-- Vinos tintos -->
           
                <!-- Vinos blancos -->

                <div class="row gx-0" id="vinos-blancos">
                <h1 class="p-3 mb-5">VINOS BLANCOS</h1>
                <div class="product col-12 col-xs-6 col-md-4 d-flex flex-column align-items-center justify-content-center">
                    <img class="img-fluid mb-2" src="images/rutini-blanco.png" alt="vino catena zapata malbec">
                    <h2 class="my-3">Rutini Sauvignon Blanc</h2>
                    <p class="description text-justify lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam distinctio laudantium repellat magnam natus debitis officia sequi atque sit voluptate reprehenderit, eos id quod quo, dolorem, ducimus aut rem!</p>
                
                </div>
                <div class="product col-12 col-xs-6 col-md-4 d-flex flex-column align-items-center justify-content-center">
                    <img class="img-fluid mb-2" src="images/trapiche-blanco.png" alt="">
                    <h2 class="my-3">Trapiche Gran Medalla</h2>
                    <p class="description text-justify lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam distinctio laudantium repellat magnam natus debitis officia sequi atque sit voluptate reprehenderit, eos id quod quo, dolorem, ducimus aut rem!</p>
                
                </div>
                <div class="product col-12 col-xs-6 col-md-4 d-flex flex-column align-items-center justify-content-center">
                    <img class="img-fluid mb-2" src="images/autoctono-blanco.png"  alt="">
                        <h2 class="my-3">Autoctono Chardonnay</h2>
                    <p class="description text-justify lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam distinctio laudantium repellat magnam natus debitis officia sequi atque sit voluptate reprehenderit, eos id quod quo, dolorem, ducimus aut rem!</p>
                
                </div>
                <div class="product col-12 col-xs-6 col-md-4 d-flex flex-column align-items-center justify-content-center">
                    <img class="img-fluid mb-2" src="images/bosca-blanco.png" alt="vino catena zapata malbec">
                    <h2 class="my-3">Luigi Bosca White Blend</h2>
                    <p class="description text-justify lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam distinctio laudantium repellat magnam natus debitis officia sequi atque sit voluptate reprehenderit, eos id quod quo, dolorem, ducimus aut rem!</p>
                
                </div>
                <div class="product col-12 col-xs-6 col-md-4 d-flex flex-column align-items-center justify-content-center">
                    <img class="img-fluid mb-2" src="images/alamos-blanco.png" alt="">
                    <h2 class="my-3">Alamos Chardonnay</h2>
                    <p class="description text-justify lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam distinctio laudantium repellat magnam natus debitis officia sequi atque sit voluptate reprehenderit, eos id quod quo, dolorem, ducimus aut rem!</p>
                
                </div>
                <div class="product col-12 col-xs-6 col-md-4 d-flex flex-column align-items-center justify-content-center">
                    <img class="img-fluid mb-2" src="images/pedro-blanco.png"  alt="">
                    <h2 class="my-3">San Pedro Yacochuya</h2>
                    <p class="description text-justify lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam distinctio laudantium repellat magnam natus debitis officia sequi atque sit voluptate reprehenderit, eos id quod quo, dolorem, ducimus aut rem!</p>
                
                </div>

                <!-- Vinos rosados -->

                <div class="row gx-0" id="vinos-rosados">
                    <h1 class="p-3 mb-5">VINOS ROSADOS</h1>
                    <div class="product col-12 col-xs-6 col-md-4 d-flex flex-column align-items-center justify-content-center">
                        <img class="img-fluid mb-2" src="images/BOSCA-rosado.png" alt="vino catena zapata malbec">
                        <h2 class="my-3">Luigi Bosca Rose is Rose</h2>
                        <p class="description text-justify lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam distinctio laudantium repellat magnam natus debitis officia sequi atque sit voluptate reprehenderit, eos id quod quo, dolorem, ducimus aut rem!</p>
                    
                    </div>
                    <div class="product col-12 col-xs-6 col-md-4 d-flex flex-column align-items-center justify-content-center">
                        <img class="img-fluid mb-2" src="images/norton-rosado.png" alt="">
                        <h2 class="my-3">Norton Quintaesencia Rose</h2>
                        <p class="description text-justify lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam distinctio laudantium repellat magnam natus debitis officia sequi atque sit voluptate reprehenderit, eos id quod quo, dolorem, ducimus aut rem!</p>
                    
                    </div>
                    <div class="product col-12 col-xs-6 col-md-4 d-flex flex-column align-items-center justify-content-center">
                        <img class="img-fluid mb-2" src="images/felicien-rosado.png"  alt="">
                        <h2 class="my-3">Saint Felicien Rosado</h2>
                        <p class="description text-justify lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam distinctio laudantium repellat magnam natus debitis officia sequi atque sit voluptate reprehenderit, eos id quod quo, dolorem, ducimus aut rem!</p>
                    
                    </div>
                    </div>
                    <div class="product col-12 col-xs-6 col-md-4 d-flex flex-column align-items-center justify-content-center">
                        <img class="img-fluid mb-2" src="images/rutini-rosado.png" alt="vino catena zapata malbec">
                            <h2 class="my-3">Rutini Rose</h2>
                        <p class="description text-justify lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam distinctio laudantium repellat magnam natus debitis officia sequi atque sit voluptate reprehenderit, eos id quod quo, dolorem, ducimus aut rem!</p>
                    
                    </div>
                    <div class="product col-12 col-xs-6 col-md-4 d-flex flex-column align-items-center justify-content-center">
                        <img class="img-fluid mb-2" src="images/susana-rosado.png" alt="">
                        <h2 class="my-3">Susana Balbo Rose</h2>
                        <p class="description text-justify lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam distinctio laudantium repellat magnam natus debitis officia sequi atque sit voluptate reprehenderit, eos id quod quo, dolorem, ducimus aut rem!</p>
                    
                    </div>
                    <div class="product col-12 col-xs-6 col-md-4 d-flex flex-column align-items-center justify-content-center">
                        <img class="img-fluid mb-2" src="images/garzon-rosado.png"  alt="">
                        <h2 class="my-3">Garzon Estate Pinot Noir</h2>
                        <p class="description text-justify lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam distinctio laudantium repellat magnam natus debitis officia sequi atque sit voluptate reprehenderit, eos id quod quo, dolorem, ducimus aut rem!</p>
                    
                    </div>
            </div>

        
