{{>header}}

<section>
    <div class="container bg-light secret-container d-flex flex-column justify-content-center mb-4">
         <h1 class="fw-normal  p-3 text-center" style="letter-spacing: 1px;">Welcome Back, {{user}}!
        </h1>
        <h2 class="text-center text-dark">Choose your wine preferences</h2>
    <div class="row d-flex justify-content-evenly mt-3 p-4" >

       

            <div class="card col-10 col-md-5 col-lg-3 m-2">
                <img src="/images/maja-petric-vGQ49l9I4EE-unsplash (1).jpg" class="card-img-top img-fluid w-100"
                    alt="Fissure in Sandstone" />
                <div class="card-body">
                    <h5 class="card-title text-center">Red Wine</h5>
                    <p class="card-text text-dark">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                    <a href="/products" class="btn btn-redwine w-100 text-light">Select</a>
                </div>
            </div>

            <div class="card col-10 col-md-5 col-lg-3 m-2">
                <img src="/images/nacho-dominguez-argenta-cCVzi_mKovs-unsplash.jpg" class="card-img-top"
                    alt="Fissure in Sandstone" />
                <div class="card-body">
                    <h5 class="card-title text-center">White Wine</h5>
                    <p class="card-text text-dark">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                    <a href="/products/white" class="btn btn-whitewine w-100">Select</a>
                </div>
            </div>

            <div class="card col-10 col-md-5 col-lg-3 m-2">
                <img src="/images/engin-akyurt-RaOc_SYJrXI-unsplash.jpg" class="card-img-top"
                    alt="Fissure in Sandstone" />
                <div class="card-body">
                    <h5 class="card-title text-center">Rosé Wine</h5>
                    <p class="card-text text-dark">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                    <a href="/products/rose" class="btn btn-rosewine w-100">Select</a>
                </div>
            </div>
     
    </div>
    </div>
    </div>
</section>